{
    "env": { "es6": true, "node": true, "commonjs": true },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
    },
    "plugins": ["@typescript-eslint", "eslint-plugin-jest"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:eslint-plugin-jest/recommended",
        "prettier"
    ]
}
